.container {
  text-align: center;
  height: 85vh;
  background-image: url(../../assets/background/background.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.show {
  display: inline-block;
}
