<mat-card class="card">
  <mat-card-header class="testAlign">
    <mat-card-title>{{ destination.name }}</mat-card-title>
    <mat-card-subtitle>Capital City</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../assets/pics/{{ destination.name }}.jfif"
    alt="{{ destination.name }}"
  />
  <mat-card-content>
    <p>weather: {{ destination.weather[0].main }}</p>
    <p>temperature: {{ destination.main.temp }}°C</p>
    <p>humidity: {{ destination.main.humidity }}%</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
